/**
 * DagsHub API
 * This API provides a way to retrive & interact with data about DagsHub repositories, users, issues, webhooks and more. The API is also used by the [DagsHub Direct Data Access streaming client](https://github.com/DagsHub/client) to stream content from a repository for easier and faster training. 
 *
 * OpenAPI spec version: 1.0.3
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.apis

import io.swagger.client.models.GrantLabelStudioAccess
import io.swagger.client.models.InlineResponse200
import io.swagger.client.models.LabelStudioProjectAccess

import dagshub_api.infrastructure.*

class AnnotationsApi(basePath: kotlin.String = "https://dagshub.com/api/v1") : ApiClient(basePath) {

    /**
     * Get team access level for annotation projects
     * Get the access level for a specific team and project (or all projects)
     * @param owner owner of the repository 
     * @param repo name of the repository 
     * @param teamid Team ID 
     * @param projectId Label Studio project ID to filter by. If not specified, returns access for all projects. Use -1 for wildcard access. (optional)
     * @return LabelStudioProjectAccess
     */
    @Suppress("UNCHECKED_CAST")
    fun getLabelStudioTeamAccess(owner: kotlin.String, repo: kotlin.String, teamid: kotlin.Long, projectId: kotlin.Long? = null): LabelStudioProjectAccess {
        val localVariableQuery: MultiValueMap = mapOf("project_id" to listOf("$projectId"))
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/repos/{owner}/{repo}/annotations/access/teams/{teamid}".replace("{" + "owner" + "}", "$owner").replace("{" + "repo" + "}", "$repo").replace("{" + "teamid" + "}", "$teamid"), query = localVariableQuery
        )
        val response = request<LabelStudioProjectAccess>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as LabelStudioProjectAccess
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Get user access level for annotation projects
     * Get the access level for a specific user and project (or all projects)
     * @param owner owner of the repository 
     * @param repo name of the repository 
     * @param userid User ID 
     * @param projectId Label Studio project ID to filter by. If not specified, returns access for all projects. Use -1 for wildcard access. (optional)
     * @return InlineResponse200
     */
    @Suppress("UNCHECKED_CAST")
    fun getLabelStudioUserAccess(owner: kotlin.String, repo: kotlin.String, userid: kotlin.Long, projectId: kotlin.Long? = null): InlineResponse200 {
        val localVariableQuery: MultiValueMap = mapOf("project_id" to listOf("$projectId"))
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/repos/{owner}/{repo}/annotations/access/users/{userid}".replace("{" + "owner" + "}", "$owner").replace("{" + "repo" + "}", "$repo").replace("{" + "userid" + "}", "$userid"), query = localVariableQuery
        )
        val response = request<InlineResponse200>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as InlineResponse200
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Grant team access to annotation projects
     * Grant a team access to specific Label Studio annotation projects (organization repositories only)
     * @param body  
     * @param owner owner of the repository 
     * @param repo name of the repository 
     * @param teamid Team ID 
     * @return void
     */
    fun grantLabelStudioTeamAccess(body: GrantLabelStudioAccess, owner: kotlin.String, repo: kotlin.String, teamid: kotlin.Long): Unit {
        val localVariableBody: kotlin.Any? = body
        val localVariableQuery: MultiValueMap = mapOf()
        val localVariableConfig = RequestConfig(
                RequestMethod.PUT,
                "/repos/{owner}/{repo}/annotations/access/teams/{teamid}".replace("{" + "owner" + "}", "$owner").replace("{" + "repo" + "}", "$repo").replace("{" + "teamid" + "}", "$teamid"), query = localVariableQuery
        )
        val response = request<Any?>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Grant user access to annotation projects
     * Grant a user access to specific Label Studio annotation projects. User must be an organization member if the repo is owned by an organization.
     * @param body  
     * @param owner owner of the repository 
     * @param repo name of the repository 
     * @param userid User ID 
     * @return void
     */
    fun grantLabelStudioUserAccess(body: GrantLabelStudioAccess, owner: kotlin.String, repo: kotlin.String, userid: kotlin.Long): Unit {
        val localVariableBody: kotlin.Any? = body
        val localVariableQuery: MultiValueMap = mapOf()
        val localVariableConfig = RequestConfig(
                RequestMethod.PUT,
                "/repos/{owner}/{repo}/annotations/access/users/{userid}".replace("{" + "owner" + "}", "$owner").replace("{" + "repo" + "}", "$repo").replace("{" + "userid" + "}", "$userid"), query = localVariableQuery
        )
        val response = request<Any?>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * List team access entries for annotation projects
     * Get a list of teams with access to Label Studio annotation projects in the repository (organization repositories only)
     * @param owner owner of the repository 
     * @param repo name of the repository 
     * @param projectId Label Studio project ID to filter by. If not specified, returns access for all projects. Use -1 for wildcard access. (optional)
     * @return kotlin.Array<LabelStudioProjectAccess>
     */
    @Suppress("UNCHECKED_CAST")
    fun listLabelStudioTeamAccess(owner: kotlin.String, repo: kotlin.String, projectId: kotlin.Long? = null): kotlin.Array<LabelStudioProjectAccess> {
        val localVariableQuery: MultiValueMap = mapOf("project_id" to listOf("$projectId"))
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/repos/{owner}/{repo}/annotations/access/teams".replace("{" + "owner" + "}", "$owner").replace("{" + "repo" + "}", "$repo"), query = localVariableQuery
        )
        val response = request<kotlin.Array<LabelStudioProjectAccess>>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Array<LabelStudioProjectAccess>
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * List user access entries for annotation projects
     * Get a list of users with access to Label Studio annotation projects in the repository
     * @param owner owner of the repository 
     * @param repo name of the repository 
     * @param projectId Label Studio project ID to filter by. If not specified, returns access for all projects. Use -1 for wildcard access. (optional)
     * @return kotlin.Array<LabelStudioProjectAccess>
     */
    @Suppress("UNCHECKED_CAST")
    fun listLabelStudioUserAccess(owner: kotlin.String, repo: kotlin.String, projectId: kotlin.Long? = null): kotlin.Array<LabelStudioProjectAccess> {
        val localVariableQuery: MultiValueMap = mapOf("project_id" to listOf("$projectId"))
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/repos/{owner}/{repo}/annotations/access/users".replace("{" + "owner" + "}", "$owner").replace("{" + "repo" + "}", "$repo"), query = localVariableQuery
        )
        val response = request<kotlin.Array<LabelStudioProjectAccess>>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Array<LabelStudioProjectAccess>
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Revoke team access to annotation projects
     * Revoke a team&#x27;s access to Label Studio annotation projects
     * @param owner owner of the repository 
     * @param repo name of the repository 
     * @param teamid Team ID 
     * @param projectId Label Studio project ID to filter by. If not specified, returns access for all projects. Use -1 for wildcard access. (optional)
     * @return void
     */
    fun revokeLabelStudioTeamAccess(owner: kotlin.String, repo: kotlin.String, teamid: kotlin.Long, projectId: kotlin.Long? = null): Unit {
        val localVariableQuery: MultiValueMap = mapOf("project_id" to listOf("$projectId"))
        val localVariableConfig = RequestConfig(
                RequestMethod.DELETE,
                "/repos/{owner}/{repo}/annotations/access/teams/{teamid}".replace("{" + "owner" + "}", "$owner").replace("{" + "repo" + "}", "$repo").replace("{" + "teamid" + "}", "$teamid"), query = localVariableQuery
        )
        val response = request<Any?>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Revoke user access to annotation projects
     * Revoke a user&#x27;s access to Label Studio annotation projects
     * @param owner owner of the repository 
     * @param repo name of the repository 
     * @param userid User ID 
     * @param projectId Label Studio project ID to filter by. If not specified, returns access for all projects. Use -1 for wildcard access. (optional)
     * @return void
     */
    fun revokeLabelStudioUserAccess(owner: kotlin.String, repo: kotlin.String, userid: kotlin.Long, projectId: kotlin.Long? = null): Unit {
        val localVariableQuery: MultiValueMap = mapOf("project_id" to listOf("$projectId"))
        val localVariableConfig = RequestConfig(
                RequestMethod.DELETE,
                "/repos/{owner}/{repo}/annotations/access/users/{userid}".replace("{" + "owner" + "}", "$owner").replace("{" + "repo" + "}", "$repo").replace("{" + "userid" + "}", "$userid"), query = localVariableQuery
        )
        val response = request<Any?>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
}
